# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/.ipynb_checkpoints
/__pycache__
/data
/figs
/original_png
/result
/unet
/arxived

data/*
# data/*
# !data/denoising/
# !data/denoising/Set14/
# !data/denoising/Set14/mask/
# !data/denoising/Set14/mask/barbara/
# !data/denoising/Set14/mask/barbara/sparsity/
# !data/denoising/Set14/mask/barbara/sparsity/det/
# !data/denoising/Set14/mask/barbara/sparsity/det/0.05/
# !data/denoising/Set14/mask/barbara/sparsity/det/0.05/1e-09/**
# !data/denoising/Set14/mask/pepper/sparsity/det/0.05/1e-09/**
# !data/denoising/Set14/mask/lena/sparsity/det/0.05/1e-09/**
# !data/denoising/
# data/denoising/*
# !data/denoising/Set14/
# data/denoising/Set14/*
# data/denoising/Set14/mask/
# !data/denoising/Set14/mask/*
# data/denoising/Set14/mask/baboon
# !data/denoising/Set14/mask/baboon/*
# !data/denoising/Set14/mask/baboon/sparsity/det/0.05/1e-09/

# !data/denoising/Set14/mask/bridge/sparsity/det/0.05/1e-09/**
# !data/denoising/Set14/mask/coastguard/sparsity/det/0.05/1e-09/**
# !data/denoising/Set14/mask/comic/sparsity/det/0.05/1e-09/**
# !data/denoising/Set14/mask/face/sparsity/det/0.05/1e-09/**
# !data/denoising/Set14/mask/flowers/sparsity/det/0.05/1e-09/**
# !data/denoising/Set14/mask/foreman/sparsity/det/0.05/1e-09/**
# !data/denoising/Set14/mask/lena/sparsity/det/0.05/1e-09/**
# !data/denoising/Set14/mask/man/sparsity/det/0.05/1e-09/**
# !data/denoising/Set14/mask/monarch/sparsity/det/0.05/1e-09/**

# !data/denoising/Set14/mask/ppt3/sparsity/det/0.05/1e-09/**
# !data/denoising/Set14/mask/zebra/sparsity/det/0.05/1e-09/**
#!data/denoising/Set14/mask/pepper/sparsity/det/0.03/1e-09/**
#!data/denoising/Set14/*.png



/Dataset_logfiles
/decodermask_output
/figs
/face_logfiles
/fitnoise
/gif_files
/histogram
/inpainting
/Kenneth_experiments
/noise_exps
/original_png
/plot_files
/result
/set1_Trans
/Set2_Trans_data1
/set3_Trans
/set4_Trans
/sgld
/sgld_datset_output
/temp-dir
/Set14_logfiles


## files

baseline_pai_old.py
baseline_pat_old.py
baseline_pwt.py
batch.sh
batchdip.sh
comparison_histogram_4.png
comparison_histogram_4.svg
comparison_histogram.png
comparison_histogram.svg
comparison.ipynb
copy_and_rename.sh
deblur_decoder.py
decoder_histogram_4.svg
decoder_inpaint.py
decoder_mask.py
decoder_mask.sh
decoder.sh
deep_hess_batch.py
deep_hess.py
dip_eos.py
dip_mask_deblur.py
dip_mask_inpaint.py
dip_mask_old.py
enhanced_combined_psnr_plot.png
eos.sh
fit_noise_clean.py
fit_noise.sh
hard_quant.pt

linear_mask.py
mask.sh
noise_chessboard.png
ntk.py
pai.sh
pat.sh
plot_pval_hist.py
prune_compares.py
pwt.sh


requirements.txt
sam.py

sgld_old.py
sgld.sh
sigmoid_histogram_kl.png
sigmoid_histogram.png
sparse_net.sh
test_denoise.py
train_inpaintmask_denoise.py

train_sparse_deblur.py
train_sparse_decoder.py
train_sparse_denoise_inpaint.py
train_sparse_inpaint.py
train_sparse_old.py
trans_inpaintmask_denoise.sh
trans_plot.py
trans.sh

transfer_old.py

vanilla_decoder_inpaint.py
vanilla_decoder_old.py
vanilla_denoise_inpaint.py
vanilla_dip_old.py
vanilla_inpaint.py
vanilla_salt_pepper_gaussian.py
vanilla.sh
rename_script.py

# mypy
.mypy_cache/
